@import 'tailwindcss';

@import './color.css';
@import './font.css';
@import './text.css';

:root {
    --inset_top: calc(
        var(--tg-viewport-safe-area-inset-top, 0px) +
            var(--tg-viewport-content-safe-area-inset-top)
    );
    --inset_bottom: calc(
        var(--tg-viewport-safe-area-inset-bottom, 0px) +
            var(--tg-viewport-content-safe-area-inset-bottom)
    );
    --inset_left: calc(
        var(--tg-viewport-safe-area-inset-left, 0px) +
            var(--tg-viewport-content-safe-area-inset-left)
    );
    --inset_right: calc(
        var(--tg-viewport-safe-area-inset-right, 0px) +
            var(--tg-viewport-content-safe-area-inset-right)
    );
}

body {
    background: var(--tg-theme-secondary-bg-color, #181818);
    height: 100vh;
    overflow: hidden;
}

#app {
    height: 100%;
    overflow-y: scroll;
    padding-top: var(--inset_top);
    padding-bottom: var(--inset_bottom);
    padding-left: var(--inset_left);
    padding-right: var(--inset_right);
}

::-webkit-scrollbar {
    display: none;
}

input[type='time']::-webkit-calendar-picker-indicator,
input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
}
